.promotion{
    background-color: lightgrey;
    width:100%;
    height:40px;
    display:flex;
    align-items: center;
    
    overflow: hidden;
}

.text{
    animation-name: anjan;
    animation-duration: 10s;

    animation-direction: normal;
    position: relative;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    white-space: wrap;
    user-select: none;
}

@keyframes anjan{
    
    
    0%{
         left:0px;
    }

    100%{
        left:1255px;
    }
}

.logo {
    margin:10px
    /* overflow: hidden; */
    /* position: relative; */

}

.logo img{
    width:150px;
    height:100px;
    border-radius: 50%;

}





.space{
    margin:20px;
}


.logo1{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space .fa-search,
.space .fa-shopping-cart,
.space .fa-sign-in-alt,
.space .fa-user,
.space .fa-bars {
    font-size: 24px; /* Adjust size as needed */
}

.space{
    text-decoration: none;
}


.m{
   background-image: url(
    https://plus.unsplash.com/premium_photo-1675435646793-f6ceb239b064?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D );
    width:window-fit;
    height:900px;
    background-size: cover;
    padding-left:30px;
    /* display: flex;
    justify-content: flex-start; */
    
    
    

}

.m>div{
    font-size: 150px;
    color: black;
    padding-left:5px;
    
}


.m>p{
    font-size:30px ;
    width:800px;
    color:white;
    
}

.button{
    padding:10px;
    margin:20px;
    border:2px solid black;
}

.button1{
    background-color: rgba(103, 103, 39, 0.721);
    font-size: 2rem;
    

}

.button2{
    background-color: grey;
    font-size: 2rem;

}

.button:hover{
    cursor: pointer;
    background-color: darksalmon;
}

.reviewp{
    margin-top: 20px;
    font-size: 80px;
    color: black;
    width: 700px;
    display: flex;
    justify-content: space-around;
    
}
.reviewp p{
    padding:500px;
}

.reviewt{
    margin-top: 20px;;
    font-size: 30px;
    color: black;
    width: 700px;
    display: flex;
    justify-content: space-around;
    
}
.reviewt t{
    padding:500px;
}

.t{
    padding-left:50px;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    /* width:100vw;
    height:100vh; */
    
    
    
}

.container img {
     width:100%;
    height:100%; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
   
    
}

.head{
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

/* .bottom-text {
     margin-top: 200px;

  } */

  .container1 {
    display: flex;
     /* flex-direction: column;
    min-height: 100vh; */
    justify-content: center;
    align-items: center;
  }

  .selling-container{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }

  .selling-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  }

  .selling-container h3{
    text-align: center;
    color:black ;
  }

  .review-heading {
    display: flex;
    justify-content: center;
  }

  .review{
    /* background-color: whitesmoke; */
    height: 600px;
    margin:80px;

    
  }

  .review >div{
    margin:10px;
    height: 200px;
    width:600px;

    background-color: whitesmoke;
    color: black;
    margin-bottom: 50px;
    border-radius: 8px;
    margin-left:250px;
    padding:10px
  }

  .checked{
    color: orange;
  }

  .design img{
    width:100px;
    height:100px;
    border-radius:50%;
  }

  .design{
    margin-bottom: 40px;
  }

  .news-head{
    background-color: bisque;
    height: 200px;
    width:50%;
    text-align: center;
    font-size: 2rem;
    
  }

  .news-email{
    background-color:bisque;
    height: 200px;
    width:50%;
    text-align: center;
  }

  .email-container{
    /* background-color: brown; */
    margin-top: 110px;
    display: flex;
    height:200px;
    justify-content: space-around;
    align-items: center;
  }

  .email{
    padding:15px;
    padding-left:50px;
    padding-right:50px;
    background-color:whitesmoke ;
    z-index: 1;

  }
  .fa-arrow-right{
    font-size: 35px;
    margin-right: 2px;
    text-align:center ;
    /* cursor: pointer; */
  }













  







